@-webkit-keyframes twinkling { /*透明度由0到1*/
    0% {
        opacity: 0; /*透明度为0*/
    }
    100% {
        opacity: 1; /*透明度为1*/
    }
}

@-webkit-keyframes breathe {
    0% {
        -webkit-transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
        transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
        opacity: .2;
    }
    50% {
        -webkit-transform: rotate3d(-30, 0, -10, 2deg) translate3d(2px, -2px, 30px);
        transform: rotate3d(-30, 0, -10, 2deg) translate3d(2px, -2px, 30px);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
        transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
        opacity: .2;
    }
}

@keyframes breathe {
    0% {
        -webkit-transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
        transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
        opacity: .2;
    }
    50% {
        -webkit-transform: rotate3d(-30, 0, -10, 2deg) translate3d(2px, -2px, 30px);
        transform: rotate3d(-30, 0, -10, 2deg) translate3d(2px, -2px, 30px);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
        transform: rotate3d(0, 0, 0, 5deg) translate3d(0, 0, 0);
        opacity: .2;
    }
}

#blog-animation {
    -webkit-animation: breathe 3s infinite;
    color: red;
}
